body{
    background-color: #303030;
    font-family: 'Roboto';
}
#header{
    padding: 0px 0px 300px 0px;;
    background: rgb(203,200,200);
    background: linear-gradient(90deg, rgba(203,200,200,0.12650997899159666) 0%, rgba(9,9,121,0.2973783263305322) 57%, rgba(64,64,65,0.42622986694677867) 100%);
    
}
#navbar{
    border: 1px solid whitesmoke;
    box-sizing: content-box;
    content: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 0px 0px 970px;
    padding: 10px  0px 10px 0px;
    font-family: 'Roboto';
    font-size: larger;
   
   
  


}
